*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.icon1{
  color: grey;
}
.icon2{
  color: grey;
}
.icon3{
  color: grey;
}
.btn-xl {
   width:100%;
  font-size: 20px;
  border-radius: 5px;
}
.item{  
  border-radius:10px;
}

.dropdown{
  margin-bottom:20px;
  
}
.dropdownMenuButton{
  width:100%;
}
.dropdown-menu{
  width:100%;  
}
.item{
  margin-top:-600px;
}
.footer-39201{
  background-color:rgb(13, 13, 175);
}
ul li a{
  text-decoration: none;
  
}
.text-center{
  text-align: center;
  
}
.menu{
  justify-content: center;
}
.menu2{
  background-color:black;
}
